.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .showbotton {
  position: absolute;
  padding: 10px;

}

/* align icon */
.left-addon .showbotton  { left:  84%;bottom: 9px;}



