<div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
  <form
    class="form w-100"
    novalidate="novalidate"
    id="kt_login_signin_form"
    [formGroup]="ChangePasswordForm"
    (ngSubmit)="changePassword()"
  >
    <div class="text-center mb-10">
      <h1 class="text-dark mb-3">Bienvenue à Madrasaty</h1>
      <h3>مرحباً بكم</h3>
    </div>

    <div class="fv-row mb-10 left-addon">
      <label class="form-label fs-6 fw-bolder text-dark">Mot de passe</label>

      <div class="inner-addon left-addon">
        <button
          type="button"
          [disableRipple]="true"
          class="showbotton"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <input
          class="form-control form-control-lg form-control-solid"
          [type]="hide ? 'password' : 'text'"
          name="Password"
          formControlName="Password"
          autocomplete="off"
          [ngClass]="{
            'is-invalid': ChangePasswordForm.controls['Password'].invalid,
            'is-valid': ChangePasswordForm.controls['Password'].valid
          }"
        />
      </div>

      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Le mot de passe est obligatoire',
          control: ChangePasswordForm.controls['Password']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'Les mots de passe doivent contenir au moins 6 caractères.',
          control: ChangePasswordForm.controls['Password']
        }"
      ></ng-container>

      <label class="form-label fw-bolder text-dark fs-6"
        >Confirmé mot de passe</label
      >
      <input
        (keyup)="checkPassSame()"
        class="form-control form-control-lg form-control-solid"
        type="password"
        placeholder="Confirmé mot de passe"
        name="ConfirmPassword"
        autocomplete="off"
        formControlName="ConfirmPassword"
        required
      />
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'La confirmation doit correspondre au mot de passe.',
          control: ChangePasswordForm.controls['ConfirmPassword']
        }"
      ></ng-container>
      <ng-container
        [ngTemplateOutlet]="formError"
        [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'La confirmation doit contenir au moins 6 caractères.',
          control: ChangePasswordForm.controls['ConfirmPassword']
        }"
      ></ng-container>
      <div *ngIf="passmsg != ''">
        <div class="fv-help-block">
          'Passsword' and 'Confirm Password' didn't match.
        </div>
      </div>
    </div>

    <button
      type="submit"
      id="kt_sign_in_submit"
      class="btn btn-lg btn-primary w-100 mb-5"
    >
      Confirm your changes
    </button>
  </form>
  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="fv-plugins-message-container">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </ng-container>
  </ng-template>
</div>
