.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
  
   .card {
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    min-height: 131px;
    margin-top: 15px;
  }
  .row {
    display: flex;
  
  }
  .column {
    flex: 1;
  }

  .cardAnimation {
    transition: transform 400ms;
    will-change: transform;
  
  }
  .cardAnimation:hover,
  .cardAnimation:focus {
    transform: translateY(10px);
  }
  
  

  .table.gs-0 th:first-child, .table.gs-0 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-0 th:last-child, .table.gs-0 td:last-child {
    padding-right: 3rem;
  }
  

