<app-settings-header (btnClick)="OpenDiag(-1)"  (btnClickSwitchToCard)="switchToCard()"></app-settings-header>
<div class="container-fluid"  *ngIf="switchbtn == false">
  <div class="row" >
    <div class="col-lg-4" *ngFor="let item of rowData">
      <div>
        <mat-card class="card" style="width: 82%">

          <div class="row">
            <div class="column">
              <mat-card-content>
                <h2>
                  <strong>{{ item.description }}</strong>
                </h2>
                <h5>
                  <i
                    ><strong> {{ item.StartDay|date }}</strong ></i
                  >
                </h5>
                <h3>
                  <strong>{{ item.EndDay|date }}</strong>
                </h3>
              </mat-card-content>
            </div>
          </div>
          <mat-card-actions align="end" style="margin-bottom: -5px">
            <button mat-mini-fab color="success" (click)="OpenDiag(item.Id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="deleteItem(item.Id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</div>



<ng-template #callAPIDialog>
  <div class="container">
   <h2 mat-dialog-title>{{DialogTitle}}</h2>
 <form [formGroup]="HolidayForm" (ngSubmit)="saveHoliday()" >

    <mat-form-field appearance="outline">
       <mat-label>Nom</mat-label>
       <input matInput placeholder="Placeholder" required  type="text" formControlName="description" >
      <mat-error *ngIf="HolidayForm.controls['description'].errors?.required"> Le nom est obligatoire.</mat-error>
     </mat-form-field>
     <br>
     <mat-form-field color="accent" appearance="fill">
      <mat-label>date debut </mat-label>
      <input matInput [matDatepicker]="picker1" type="datetime" required formControlName="StartDay" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
     <mat-error *ngIf="HolidayForm.controls['StartDay'].errors?.required">date debut est obligatoire.</mat-error>
      <mat-datepicker #picker1 color="primary"></mat-datepicker>
    </mat-form-field>
     <br>

     <mat-form-field color="accent" appearance="fill">
      <mat-label>date fin</mat-label>
      <input matInput [matDatepicker]="picker2"  type="datetime" required formControlName="EndDay" >
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
     <mat-error *ngIf="HolidayForm.controls['EndDay'].errors?.required">date fin est obligatoire.</mat-error>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
     <br>


   <mat-dialog-actions align="end">
     <button mat-raised-button (click)="ClearForm()" color="warn">Clear</button>
     <button mat-raised-button mat-dialog-close [disabled]="HolidayForm.invalid" type="submit" color="success">Confirmer</button>
   </mat-dialog-actions>
 </form>
</div>
</ng-template>



<div lass="example-container mat-elevation-z8" *ngIf="switchbtn == true">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Description">
        <th  mat-header-cell *matHeaderCellDef >Description</th>
        <td    mat-cell *matCellDef="let element">
          {{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="StartDay">
        <th mat-header-cell *matHeaderCellDef >Date début</th>
        <td mat-cell *matCellDef="let element">
          {{ element.StartDay |date }}</td>

      </ng-container>

      <ng-container matColumnDef="EndDay">
        <th mat-header-cell *matHeaderCellDef >Date fin</th>
        <td   mat-cell *matCellDef="let element">{{ element.EndDay|date }}</td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef >Actions</th>

        <td mat-cell *matCellDef="let element">
          <button  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"  (click)="OpenDiag(element.Id)">
            <span  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"  class="svg-icon svg-icon-3"  ></span>
          </button>
          <button
            href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="deleteItem(element.Id)" >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
              class="svg-icon svg-icon-3"
            ></span>

          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[1, 3, 20]"
      showFirstLastButtons
      aria-label="Select page of dataSource"
    >
    </mat-paginator>
  </div>

</div>
