.mat-success {
    background-color: rgb(33, 172, 33);
    color: #fff;
  }
  .mat-warn {
    margin-left: 7px;
    margin-right: 13px;
  }


  .card-title{
      margin-left: 15px;
  }
  table {
    width: 100%;
  }

  .table.gs-0 th:first-child, .table.gs-0 td:first-child {
    padding-left: 1rem;
  }
  .table.gs-0 th:last-child, .table.gs-0 td:last-child {
    padding-right: 3rem;
  }
  
  .cardAnimation {
    transition: transform 400ms;
    will-change: transform;
  
  }
  .cardAnimation:hover,
  .cardAnimation:focus {
    transform: translateY(10px);
  }
  
  