<app-settings-header
  (btnClick)="OpenDiag(-1)"
  (btnClickSwitchToCard)="switchToCard()"
></app-settings-header>

<form [formGroup]="memberFormGroup">
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select
      (selectionChange)="onSelectChange($event)"
      formControlName="memberDropDown"
      required
    >
      <mat-option
        *ngFor="let opt of MemberStatusId; index as i"
        [selected]="i == 2"
        [value]="opt.Id"
        >{{ opt.Wording }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>
<div class="container-fluid" *ngIf="switchbtn == false">
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of rowData">
      <div>
        <mat-card class="card" style="width: 82%">
          <div class="row">
            <div class="column">
              <mat-card-content>
                <h2>
                  <strong>{{ item.FirstName }} </strong>
                </h2>
                <h5>
                  <i
                    ><strong> {{ item.BirthDate | date }}</strong></i
                  >
                </h5>
                <h3>
                  <strong>{{ item.PhoneNumber }}</strong>
                </h3>
              </mat-card-content>
            </div>
          </div>
          <mat-card-actions align="end" style="margin-bottom: -5px">
            <button mat-mini-fab color="success" (click)="OpenDiag(item.Id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" (click)="deleteItem(item.Id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<ng-template #callAPIDialog>
  <div class="container">
    <h2 mat-dialog-title>{{ DialogTitle }}</h2>
    <form [formGroup]="memberForm"  (ngSubmit) = "BeforeSave()">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Statut</mat-label>
            <mat-select
              name="MemberStatusId"
              formControlName="MemberStatusId"
              required
            >
              <mat-option
                *ngFor="let status of MemberStatusId"
                [value]="status.Id"
              >
                {{ status.Wording }}
              </mat-option>
              <mat-error
                *ngIf="memberForm.controls['MemberStatusId'].errors?.required"
              >
                Le Role est obligatoire.</mat-error
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input
              matInput
              name="LastName"
              id="LastName"
              formControlName="LastName"
              required
              class="example-right-align"
            />
            <mat-error *ngIf="memberForm.controls['LastName'].errors?.required">
              Le Prénom est obligatoire.</mat-error
            >
          </mat-form-field>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Pr&eacute;nom</mat-label>
            <input
              matInput
              name="FirstName"
              id="FirstName"
              formControlName="FirstName"
              required
            />
            <mat-error
              *ngIf="memberForm.controls['FirstName'].errors?.required"
            >
              Le Nom est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="Gender" required>
              <mat-option value="M">Masculin</mat-option>
              <mat-option value="F">Femenin</mat-option>
            </mat-select>
            <mat-error *ngIf="memberForm.controls['Gender'].errors?.required"
              >le Genre est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Skype</mat-label>
            <input
              matInput
              name="SkypeId"
              id="SkypeId"
              formControlName="SkypeId"
              required
            />
            <mat-error *ngIf="memberForm.controls['SkypeId'].errors?.required"
              > le Skype ID est obligatoire.</mat-error
            >
          </mat-form-field>
          <br />
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>T&eacute;l&eacute;phone</mat-label>
            <input
              matInput
              id="PhoneNumber"
              formControlName="PhoneNumber"
              required
            />
            <mat-error
              *ngIf="memberForm.controls['PhoneNumber'].errors?.required"
              >Le Téléphone est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Date d'entr&eacute;e</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              required
              formControlName="BeginningDate"
              class="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-error
              *ngIf="memberForm.controls['BeginningDate'].errors?.required"
              >la date d'entr&eacute;e est obligatoire.</mat-error
            >
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              required
              formControlName="BirthDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-error *ngIf="memberForm.controls['BirthDate'].errors?.required"
              > la date de naissance est obligatoire.</mat-error
            >
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Profession</mat-label>
            <input
              matInput
              id="Profession"
              formControlName="Profession"
              required
            />
            <mat-error
              *ngIf="memberForm.controls['Profession'].errors?.required"
              >La profession est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput id="Street" formControlName="Street" required />
            <mat-error *ngIf="memberForm.controls['Street'].errors?.required"
              >L'adresse postale est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Code postale</mat-label>
            <input matInput id="ZipCode" formControlName="ZipCode" required />
            <mat-error *ngIf="memberForm.controls['ZipCode'].errors?.required"
              >Le code postale est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Pays</mat-label>
            <mat-select
              name="Country"
              formControlName="Country"
              required
              placeholder="Country"
            > <mat-option *ngFor="let opt of countries" [value]="opt.code">{{ opt.name}}</mat-option>
              <mat-error *ngIf="memberForm.controls['Country'].errors?.required" >Le pays est obligatoire.</mat-error >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="City"
              type="text"
              required
            />
            <mat-error *ngIf="memberForm.controls['City'].errors?.required"
              >Le nom de la société est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              required
              formControlName="Email"
              type="text"
              required
              placeholder="Email"
            />
            <mat-error *ngIf="memberForm.controls['Email'].errors?.required"
              >l'adresse email est obligatoire..</mat-error
            >
            <mat-error *ngIf="memberForm.controls['Email'].errors?.pattern"
              >Entrez une adresse email valide..</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          formControlName="Login"
          type="text"
          required
          placeholder="Nom d'utilisateur"
        />
        <mat-error *ngIf="memberForm.controls['Login'].errors?.required"
          >Le Nom d'utilisateur est obligatoire.</mat-error
        >
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button mat-raised-button color="warn">Clear</button>
        <button
          mat-raised-button
          mat-dialog-close
          [disabled]="memberForm.invalid"
          type="submit"
          color="success"
        >
          Confirmer
        </button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-template>



<div lass="example-container mat-elevation-z8" *ngIf="switchbtn == true">

  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3">
        <input class="form-control" type="file" #fileInput />
    </div>
    <div class="col-md-3">
      <button mat-mini-fab color="primary"  matTooltip="Upload un fichier "
     (click)="uploadFile();"><i style=" color: white;font-size:larger" class="bi bi-upload"></i></button>
    </div>
</div>
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="Nom">
        <th  mat-header-cell *matHeaderCellDef >Nom</th>
        <td   mat-cell *matCellDef="let element">
          {{ element.LastName }}</td>
      </ng-container>

      <ng-container matColumnDef="Prénom">
        <th mat-header-cell *matHeaderCellDef >Prénom</th>
        <td mat-cell *matCellDef="let element">
          {{ element.FirstName }}</td>

      </ng-container>

      <ng-container matColumnDef="Date de naissance">
        <th mat-header-cell *matHeaderCellDef >Date de naissance</th>
        <td mat-cell *matCellDef="let element">{{ element.BirthDate|date }}</td>
      </ng-container>

      <ng-container matColumnDef="Profession">
        <th mat-header-cell *matHeaderCellDef >Profession</th>
        <td   mat-cell *matCellDef="let element">{{ element.Profession }}</td>
      </ng-container>
      <ng-container matColumnDef="Téléphone">
        <th mat-header-cell *matHeaderCellDef >Téléphone</th>
        <td   mat-cell *matCellDef="let element">{{ element.PhoneNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="Evaluations" >
        <th mat-header-cell *matHeaderCellDef >Evaluations</th>
        <td   mat-cell *matCellDef="let element"> <a  *ngIf="element.MemberStatusId==4 || element.MemberStatusId==5"  class="btn btn-light"> <i style="font-size:24px ;color:rgb(7, 161, 71)" class="fa fa-mortar-board"></i> </a> </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef >Actions</th>

        <td mat-cell *matCellDef="let element">
          <button  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"  (click)="OpenDiag(element.Id)">
            <span  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"  class="svg-icon svg-icon-3"  ></span>
          </button>
          <button
            href="#" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" (click)="deleteItem(element.Id)" >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
              class="svg-icon svg-icon-3"
            ></span>

          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[1, 3, 20]"
      showFirstLastButtons
      aria-label="Select page of dataSource"
    >
    </mat-paginator>
  </div>

</div>
