 <app-settings-header-shared  (SearchEvent)="searchResult($event)" (btnClickSwitchToCard)="this.switchbtn = !this.switchbtn" (btnClick)="OpenDiag(-1)"></app-settings-header-shared> 


<form [formGroup]="memberFormGroup">
  <mat-form-field appearance="outline" style="width: 15%;">
    <mat-label>Status</mat-label>
    <mat-select
      (selectionChange)="onSelectChange($event)"
      formControlName="memberDropDown"
      required
    >
      <mat-option
        *ngFor="let opt of MemberStatusId; index as i"
        [selected]="i == 2"
        [value]="opt.Id"
        >{{ opt.Wording }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</form>


<div class="container-fluid" *ngIf="switchbtn == false">
  <div class="row">
    <div class="col-lg-3" *ngFor="let item of rowData | filter:search">
      <div class="card cardAnimation card-xl-stretch mb-5 mb-xl-8">
        <div class="card-body d-flex align-items-center pt-3 pb-0" >
          <div class="d-flex flex-column flex-grow-1 py-2 py-lg-13 me-2">
            <a href="#" class="fw-bolder text-dark fs-4 mb-2 text-hover-primary">
              <h3>
                <strong *ngIf="item.FirstName">{{ item.FirstName }} </strong>
                <strong><br></strong>
              </h3>
              <h5>
                <i
                  ><strong *ngIf="item.BirthDate"> {{ item.BirthDate | date }}</strong></i >
                  <strong><br></strong>
              </h5>
              <h4>
                <strong *ngIf="item.PhoneNumber" >{{ item.PhoneNumber }}</strong>
                <strong><br></strong>
              </h4>
            </a>        
         
          </div>
        
          <img *ngIf=" item.Gender=='M'"   src="./assets/media/svg/avatars/029-boy-11.svg" alt=""  class="h-90px" />
          <img *ngIf=" item.Gender=='F'"   src="./assets/media/svg/avatars/014-girl-7.svg" alt="" class=" h-90px" />
          <img   *ngIf=" item.Gender==''"  src="./assets/media/svg/avatars/unknown.svg" alt="" class=" h-90px" />
        </div>
        <mat-card-actions align="end"  style="margin-top: 2px;">

          <app-shared-buttons [ismodified]="true"    (btnEditClick)="OpenDiag(item.Id)"  (btnDeleteClick)="deleteItem(item.Id)"  ></app-shared-buttons>  
        </mat-card-actions>
      </div>   
    </div>
  </div>
</div>

<ng-template #callAPIDialog>
    <form [formGroup]="memberForm"  (ngSubmit) = "BeforeSave()">
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Statut</mat-label>
            <mat-select
              name="MemberStatusId"
              formControlName="MemberStatusId"
              required
            >
              <mat-option
                *ngFor="let status of MemberStatusId"
                [value]="status.Id"
              >
                {{ status.Wording }}
              </mat-option>
              <mat-error
                *ngIf="memberForm.controls['MemberStatusId'].errors?.required"
              >
                Le Role est obligatoire.</mat-error
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input
              matInput
              name="LastName"
              id="LastName"
              formControlName="LastName"
              required
              class="example-right-align"
            />
            <mat-error *ngIf="memberForm.controls['LastName'].errors?.required">
              Le Prénom est obligatoire.</mat-error
            >
          </mat-form-field>
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Pr&eacute;nom</mat-label>
            <input
              matInput
              name="FirstName"
              id="FirstName"
              formControlName="FirstName"
              required
            />
            <mat-error
              *ngIf="memberForm.controls['FirstName'].errors?.required"
            >
              Le Nom est obligatoire.</mat-error
            >
          </mat-form-field>
       
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="Gender" required>
              <mat-option value="M">Masculin</mat-option>
              <mat-option value="F">Femenin</mat-option>
            </mat-select>
            <mat-error *ngIf="memberForm.controls['Gender'].errors?.required"
              >le Genre est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Skype</mat-label>
            <input
              matInput
              name="SkypeId"
              id="SkypeId"
              formControlName="SkypeId"
              required
            />
            <mat-error *ngIf="memberForm.controls['SkypeId'].errors?.required"
              > le Skype ID est obligatoire.</mat-error
            >
          </mat-form-field>
          <br />
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>T&eacute;l&eacute;phone</mat-label>
            <input
              matInput
              id="PhoneNumber"
              formControlName="PhoneNumber"
              required
            />
            <mat-error
              *ngIf="memberForm.controls['PhoneNumber'].errors?.required"
              >Le Téléphone est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" >
            <mat-label>Date d'entr&eacute;e</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              required
              formControlName="BeginningDate"
              class="picker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-error
              *ngIf="memberForm.controls['BeginningDate'].errors?.required"
              >la date d'entr&eacute;e est obligatoire.</mat-error
            >
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" >
            <mat-label>Date de naissance</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              required
              formControlName="BirthDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-error *ngIf="memberForm.controls['BirthDate'].errors?.required"
              > la date de naissance est obligatoire.</mat-error
            >
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Profession</mat-label>
            <input
              matInput
              id="Profession"
              formControlName="Profession"
              required
            />
            <mat-error
              *ngIf="memberForm.controls['Profession'].errors?.required"
              >La profession est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput id="Street" formControlName="Street" required />
            <mat-error *ngIf="memberForm.controls['Street'].errors?.required"
              >L'adresse postale est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Code postale</mat-label>
            <input matInput id="ZipCode" formControlName="ZipCode" required />
            <mat-error *ngIf="memberForm.controls['ZipCode'].errors?.required"
              >Le code postale est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Pays</mat-label>
            <mat-select
              name="Country"
              formControlName="Country"
              required
              placeholder="Country"
            > <mat-option *ngFor="let opt of countries" [value]="opt.code">{{ opt.name}}</mat-option>
              <mat-error *ngIf="memberForm.controls['Country'].errors?.required" >Le pays est obligatoire.</mat-error >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input
              matInput
              placeholder="Placeholder"
              formControlName="City"
              type="text"
              required
            />
            <mat-error *ngIf="memberForm.controls['City'].errors?.required"
              >Le nom de la société est obligatoire.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              required
              formControlName="Email"
              type="text"
              required
              placeholder="Email"
            />
            <mat-error *ngIf="memberForm.controls['Email'].errors?.required"
              >l'adresse email est obligatoire..</mat-error
            >
            <mat-error *ngIf="memberForm.controls['Email'].errors?.pattern"
              >Entrez une adresse email valide..</mat-error
            >
          </mat-form-field>
        </div>
        
      </div>
      <div class="row">
        <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          formControlName="Login"
          type="text"
          required
          placeholder="Nom d'utilisateur"
        />
        <mat-error *ngIf="memberForm.controls['Login'].errors?.required"
          >Le Nom d'utilisateur est obligatoire.</mat-error
        >
      </mat-form-field>
    </div>
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <mat-select
            name="MemberStateId"
            formControlName="MemberStateId"
            required
          >
            <mat-option
              *ngFor="let status of MemberStatesId"
              [value]="status.Id"
            >
              {{ status.Wording }}
            </mat-option>
            <mat-error
              *ngIf="memberForm.controls['MemberStateId'].errors?.required"
            >
              La state est obligatoire.</mat-error
            >
          </mat-select>
        </mat-form-field>
        <br />
        
        <div class="card-footer py-6">
  
    
          <div class="col-lg-9">
            <button
              type="button"
              (click)="this.memberForm.reset()"
              class="btn btn-primary me-2"      
            >          
                <span class="indicator-label">Clear</span>       
     
            </button>
  
            <button
              type="submit"          
              [disabled]="memberForm.invalid"    
              data-bs-dismiss="offcanvas"
              class="btn btn-active-light btn-color-muted" >
              <ng-container >
                <span class="indicator-label">Confirme</span>
              </ng-container>
  
              
            </button>
          </div>
        </div>
      </div>
    </div>
    </form>

</ng-template>
<app-shared-drawer [template]="callAPIDialog" [fonctionality]="DialogTitle"></app-shared-drawer>

<div class="card mb-5 mb-xl-8"  *ngIf="switchbtn == true" style="width: 105%;">

  <div class="card-header border-0 pt-5">
    <div class="row" style="margin-bottom: 8px;">
      <div class="col-md-5">
          <input class="form-control" type="file" #fileInput />
      </div>
      <div class="col-md-3">
        <button mat-mini-fab color="primary"  matTooltip="Upload un fichier "
       (click)="uploadFile();"><i style=" color: white;font-size:larger" class="bi bi-upload"></i></button>
      </div>
  </div>
  </div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3" >
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="min-w-70px"></th>
          <th class="ps-4 min-w-280px ">Email</th>
          <th class="min-w-200px">	Date de naissance</th>
          <th class="min-w-125px">Profession</th>
          <th class="min-w-200px">Téléphone</th>
          <th class="min-w-150px">Evaluations</th>
          <th class="min-w-100px">States</th>
          <th class="min-w-200px text-end rounded-end"></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody>
        <tr *ngFor="let element of rowData | filter:search">
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-50px me-5">
                  <span class="symbol-label bg-light">                 

                    <img *ngIf=" element.Gender=='M'"   src="./assets/media/svg/avatars/001-boy.svg"   class="h-75 align-self-end"     alt="" />
                    <img *ngIf=" element.Gender=='F'"  src="./assets/media/svg/avatars/006-girl-3.svg" alt=""  class="h-75 align-self-end" />
                    <img   *ngIf=" element.Gender==''"  src="./assets/media/svg/avatars/unknown.svg" alt=""  class="h-75 align-self-end" />
              
                </span> 
              </div>
        
            </div>
          </td>
          <td>
      <div class="d-flex justify-content-start flex-column">
                <a
                  href="#"
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                >
                {{ element.Email }}
                </a>              
              </div>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{ element.BirthDate|date }}
            </a>
          
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{ element.Profession }}
            </a>
        
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{ element.PhoneNumber}}
            </a>
          
          </td>
          <td>
           <a  *ngIf="element.MemberStatusId==4 || element.MemberStatusId==5"  class="btn btn-light"> <i style="font-size:24px ;color:rgb(7, 161, 71)" class="fa fa-mortar-board"></i> </a> 
          </td>
          <td > 

            <div *ngIf="element.MemberStateId==3">
            <span class="badge badge-danger fs-7 fw-bold">
            {{getvalue(element.MemberStateId)}}
          </span></div>
  
          <div *ngIf="element.MemberStateId==2">
            <span class="badge badge-success fs-7 fw-bold">
            {{getvalue(element.MemberStateId)}}
          </span></div>
          <div *ngIf="element.MemberStateId==1">
            <span class="badge badge-info fs-7 fw-bold">
            {{getvalue(element.MemberStateId)}}
          </span></div>
  
  
          </td>
          <td class="text-end">
            <app-shared-buttons    (btnEditClick)="OpenDiag(element.Id)"  (btnDeleteClick)="deleteItem(element.Id)"  ></app-shared-buttons>  
          </td>
        </tr>
      
      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
</div>
<!-- begin::Body -->
</div>