
.mat-primary {
  margin-left: 17px;
}
.mat-form-field{
  width: 98%;
}




table {
  width: 80%;
}




.table.gs-0 th:first-child, .table.gs-0 td:first-child {
  padding-left: 1rem;
}
.table.gs-0 th:last-child, .table.gs-0 td:last-child {
  padding-right: 6rem;
}

.cardAnimation {
  transition: transform 400ms;
  will-change: transform;

}
.cardAnimation:hover,
.cardAnimation:focus {
  transform: translateY(10px);
}

