<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
          <providerOption name="CompilerVersion" value="v4.0" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--<add name="DbConnQuranRecitation" connectionString="Data Source=db660612532.db.1and1.com;Initial Catalog=db660612532;User ID=dbo660612532;Password=iyaschool2015;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DbConnQuranRecitation" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DbQuranRecitation;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DbProQuranInstituteString" providerName="System.Data.SqlClient" connectionString="Data Source=.\MSSQLSERVER2012;Initial Catalog=ssiniya115822fr29623_quranindb; User Id=ssiniya115822fr29623_quraninus; Password=Quranin2017"/>-->
    <!--<add name="DbPreQuranInstituteString" providerName="MySql.Data.MySqlClient" connectionString="Data Source=127.0.0.1; Initial Catalog=prequranindb; Port=3307;User Id=root; Password=admin" />-->
    <!--<add name="DbPreQuranInstituteString" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;database=prequranindb; User Id=root; Password=admin" />-->
    <!--<add name="DbPreQuranInstituteString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-KU0HNF9;Initial Catalog=quarandb;User ID=admin;Password=root"/>-->
    <!--<add name="DbPreQuranInstituteString" providerName="System.Data.SqlClient" connectionString="Data Source=vmheb49103.ikoula.com\MSSQLSERVER2012;Initial Catalog=ssiniya115822fr29623_prequranindb; User Id=ssiniya115822fr29623_prequraninus; Password=Prequraninus2017"/>-->
    <add name="DbPreQuranInstituteString" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-80S4CJN\SQLEXPRESS;Initial Catalog=quarandb;Integrated Security=True"/>
  </connectionStrings>
  <appSettings />


  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>