
 .student-report {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 95px;
  }
 .student-report:before {
    content: "";
    height: 58px;
    width: 1px;
    background-color: #d7d7d7;
    position: absolute;
    top: 90px;;
    right: 50%;
    transform: translateX(-50%);
  }
 .student-report .student-count {
    position: relative;
  }
 .student-report .student-count .item-title {
    font-size: 14px;
    color: #a5a5a5;
    margin-bottom: 2px;
  }
.student-report .student-count .item-number {
    font-size: 16px;
    color: #111111;
    font-weight: 500;
  }
 .student-report .student-count:after {
    content: "";
    height: 6px;
    width: 49px;
    border-radius: 6px;
    position: absolute;
    top: -18px;
    left: 0;
  }
.student-report .student-count:last-child:before {
    display: none;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 22%;
}

.img {
  border-radius: 53%;
  width: 27%;
  margin-right: 10px;
}
.search-form-box{
margin-bottom: 5px;
}
.row.gutters-8 > [class^="col-"] {
  padding-left: 4px;
  padding-right: 4px;
}
.btn-gradient-yellow {
  background-color: #ffae01;
}

.fw-btn-fill {
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33px;
  width: 93%;
  border: none;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 6px;
  cursor: pointer;
  z-index: 9;
  transition: all 0.3s ease-out;
}
.notice-list {
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

 .post-date {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 14px;
  border-radius: 20px;
  margin-bottom: 14px;
}

.bg-pink {
  background-color: #f939a1;
}

.notice-title {
  font-weight: 500;
  margin-bottom: 8px;
}
h6 {
  font-size: 16px;
}

 .notice-title a {
  color: #111111;
}
a {
  text-decoration: none;
}

 .entry-meta {
  font-size: 15px;
  color: #646464;
}

.mg-b-17 {
  margin-bottom: 17px;
}
.heading-layout1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 12px;
}



    ::ng-deep .mat-calendar {  
      width: 311px !important;
      height: 319px !important;
  }


  
  /* The scrollable part */
  
  .scrollable {
   height: 530px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
  }
  
  tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding-bottom: 17px;
}

.parent{
  display: flex;
          flex-flow: row wrap;
          margin-left: auto;
          margin-right: auto;
}
.child{
  display: flex;  margin-left: 5px;
            margin-right: 5px;
}