  table {
    width: 90%;
  }
  .table.gs-0 th:first-child, .table.gs-0 td:first-child {
    padding-left: 2rem;
  }
  .table.gs-0 th:last-child, .table.gs-0 td:last-child {
    padding-right: 3rem;
  }

  .cardAnimation {
    transition: transform 400ms;
    will-change: transform;
  
  }
  .cardAnimation:hover,
  .cardAnimation:focus {
    transform: translateY(10px);
  }
  
  