 <app-settings-header-shared  (SearchEvent)="searchResult($event)" (btnClickSwitchToCard)="this.switchbtn = !this.switchbtn" (btnClick)="OpenDiag(-1)" ></app-settings-header-shared> 


 <div class="container-fluid" *ngIf="switchbtn == false">
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of rowData | filter:search">
      <div class="card cardAnimation card-xl-stretch mb-5 mb-xl-8">
        <div class="card-body d-flex align-items-center pt-3 pb-0">
          <div class="d-flex flex-column flex-grow-1 py-2 py-lg-13 me-2">
            <div class="row">
              <div class="column">
                <div class="photo">                
                  <img class="img" src={{this.schoolService.GetSchoolPhotoPath(item.PhotoPath)}} />
                </div>
              </div>
              <div class="column">
                <mat-card-content>
                  <a href="#" class="fw-bolder text-dark fs-4 mb-2 text-hover-primary">
                  <h2>
                    <strong>{{ item.Name }}</strong>
                  </h2>
                  <h5>
                    <i
                      ><strong
                        >{{ item.Street }}, {{ item.City }},
                        {{ item.ZipCode }}</strong
                      ></i
                    >
                  </h5>
                  <h3>
                    <strong>{{ item.Country }}</strong>
                  </h3>
                  </a>
                </mat-card-content>
              </div>
            </div>
         
         
          </div>

        </div>
       
        <mat-card-actions align="end" style=   " margin-top: -25px;">      

          <app-shared-buttons [ismodified]="true"   (btnEditClick)="OpenDiag(item.Id)"  (btnDeleteClick)="deleteItem(item.Id)"  ></app-shared-buttons>    
        </mat-card-actions>
      </div>   
    </div>
 
  </div>
</div>




<ng-template #callAPIDialog>
 <form [formGroup]="schoolForm" (ngSubmit)="saveSchool()" >
   <p>{{fuctionality}}</p>
     <img [src]="LogoPath" id="schoolLogo">
     <div style="text-align: center;">
     <label for="fileupload" style="    margin-left: -40px;
     margin-top: -20px;">

       <md-icon class="material-icons">attach_file</md-icon>
       <mat-hint>Choisir une image ...</mat-hint>
     </label>
     <input   type="file" name="fileupload" value="fileupload" id="fileupload"  style="visibility:hidden;" accept=".jpg"
     #fileInput (change)="onChange(fileInput.files[0])"  />
    </div>

     <mat-form-field appearance="outline">
       <mat-label>Ecole</mat-label>

       <input matInput placeholder="Placeholder" required  type="text" formControlName="Name">
       <mat-error *ngIf="schoolForm.controls['Name'].errors?.required"> Le nom est obligatoire et doit être unique.</mat-error>
     </mat-form-field>
     <br>
     <mat-form-field  appearance="outline">
       <mat-label>Adresse</mat-label>
       <input matInput placeholder="Placeholder" type="text" required  formControlName="Street">
       <mat-error *ngIf="schoolForm.controls['Street'].errors?.required">Adresse est obligatoire.</mat-error>
     </mat-form-field>
     <br>

    <mat-form-field appearance="outline">
       <mat-label>Code postale</mat-label>
       <input matInput placeholder="Placeholder"  formControlName="ZipCode"  required type="text">
       <mat-error *ngIf="schoolForm.controls['ZipCode'].errors?.required">Le code postale est obligatoire.</mat-error>
     </mat-form-field>
     <br>
     <mat-form-field appearance="outline">
       <mat-label>Ville</mat-label>
       <input matInput placeholder="Placeholder"  required formControlName="City" type="text">
       <mat-error *ngIf="schoolForm.controls['City'].errors?.required">La ville est obligatoire.</mat-error>
     </mat-form-field>
     <br>
   <mat-form-field appearance="outline">
     <mat-label>Pays</mat-label>
     <mat-select name="Country" formControlName="Country" required placeholder="Country">
       <mat-error *ngIf="schoolForm.controls['Country'].errors?.required">Le pays est obligatoire.</mat-error>
        <mat-option *ngFor="let opt of countries" [value]="opt.name">{{opt.name}}</mat-option>
     </mat-select>
   </mat-form-field>
   <br>
     <mat-form-field appearance="outline">
       <mat-label>Nom Société</mat-label>
       <input matInput placeholder="Placeholder" formControlName="SocietyName" type="text" required >
       <mat-error *ngIf="schoolForm.controls['SocietyName'].errors?.required">Le nom de la société est obligatoire.</mat-error>
     </mat-form-field>
     <br>
     <mat-form-field appearance="outline">
       <mat-label>SIRET</mat-label>
       <input matInput required formControlName="SiretCode" type="text" required placeholder="14 chiffres : 9 SIREN + 5 NIC" >
       <mat-error *ngIf="schoolForm.controls['SiretCode'].errors?.required">La SIRET est obligatoire.</mat-error>
       <mat-error *ngIf="schoolForm.controls['SiretCode'].errors?.pattern">La SIRET doit contenir 14 chiffres : 9 SIREN + 5 NIC.</mat-error>
     </mat-form-field>
     <br>
     <mat-form-field appearance="outline">
       <mat-label>NumTVA</mat-label>
       <input matInput formControlName="NumTVA" type="text" required placeholder="FR + 11 chiffres" >
       <mat-error *ngIf="schoolForm.controls['NumTVA'].errors?.required">Le numéro de TVA est obligatoire.</mat-error>
       <mat-error *ngIf="schoolForm.controls['NumTVA'].errors?.pattern">Le numéro de TVA intracommunautaire doit contenir le code FR + 11 Chiffres'</mat-error>
     </mat-form-field>





     <div class="card-footer py-6">  
        <div class="col-lg-9">
          <button
            type="button"
            (click)="this.schoolForm.reset();this.LogoPath=''"
            class="btn btn-primary me-2"      
          >          
              <span class="indicator-label">Clear</span>     
          </button>
          <button
            type="submit"           
            data-bs-dismiss="offcanvas"
            [disabled]="schoolForm.invalid"    
            class="btn btn-active-light btn-color-muted" >
            <ng-container >
              <span class="indicator-label">Confirme</span>
            </ng-container>            
          </button>
        </div>
      </div>
   

 </form>

</ng-template>
<div class="abc">
<app-shared-drawer [template]="callAPIDialog" [fonctionality]="DialogTitle"></app-shared-drawer>
</div>
<div class="card mb-5 mb-xl-8"  *ngIf="switchbtn == true">

<div class="card-header border-0 pt-5">
  <div class="card-toolbar">
    <button class="btn btn-sm btn-light-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"   (click)="OpenDiag(-1)">
      <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
        class="svg-icon svg-icon-3"
      ></span>
      New School
     
    </button>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th class="min-w-125px">Ecole Logo</th>
          <th class="ps-4 min-w-125px rounded-start">Ecole</th>
          <th class="min-w-125px">Adresse</th>
          <th class="min-w-125px">Num TVA</th>
          <th class="min-w-200px">Siret Code</th>
          <th class="min-w-150px">Society Name</th>
          <th class="min-w-200px text-end rounded-end"></th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody >
        <tr *ngFor="let element of rowData | filter:search">
          <td>
            <div class="d-flex align-items-center">
              <div class="symbol symbol-50px me-5">
                <img class="img" src={{this.schoolService.GetSchoolPhotoPath(element.PhotoPath)}} />
              </div>            
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
            
              <div class="d-flex justify-content-start flex-column">
                <a           
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                >
                 {{ element.Name }}
                </a>              
              </div>
            </div>
          </td>
          <td>
            <a             
              class=" text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{ element.Street }}
            </a>
         
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{ element.NumTVA }}
            </a>
          
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
            {{ element.SiretCode }}
            </a>
           
          </td>
          <td>
            <a
            href="#"
            class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
          >
          {{ element.SocietyName }}
          </a>
          </td>
          <td class="text-end">
            <app-shared-buttons [ismodified]="true"   (btnEditClick)="OpenDiag(element.Id)"  (btnDeleteClick)="deleteItem(element.Id)"  ></app-shared-buttons>  
          </td>
        </tr>
     
      </tbody>
    
    </table>
 
  </div>

</div>



</div>