
.img {
  border-radius: 36px;

  width: 120px;
  border: 1px solid #ddd;
  height: 130px
}

.row {
  display: flex;

}
.column {
  flex: 1;
}
.mat-form-field{
  width: 100%;
}


#schoolLogo{
  width: 156px;
   height: 128px;
    border-radius: 45%;
      margin: 0 auto;
      display: block;
      margin-top: -25px;
    margin-bottom: 13px;
    margin-left: 101px;
    text-align: center;
}


 table {
  width: 100%;
}


.table.gs-0 th:first-child, .table.gs-0 td:first-child {
  padding-left: 1rem;
}
.table.gs-0 th:last-child, .table.gs-0 td:last-child {
  padding-right: 1rem;
}
.cardAnimation {
  transition: transform 400ms;
  will-change: transform;

}
.cardAnimation:hover,
.cardAnimation:focus {
  transform: translateY(10px);
}

