:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
.social-login {
	a {

		text-decoration: none;

		position: relative;
		text-align: center;
		color: white;
		margin-bottom: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: inline-block;
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			color: white;
		}
		&.facebook {
			background: #5687f1;
			&:hover {
				background: darken(#5687f1, 5%);
			}
		}
		&.twitter {
			background: #1da1f2;
			&:hover {
				background: darken(#1da1f2, 5%);
			}
		}
		&.google {
			background: #ccbebc;
			&:hover {
				background: darken(#ebc8c5, 5%);
			}
		}
	}
}


.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .showbotton {
  position: absolute;
  padding: 10px;

}

/* align icon */
.left-addon .showbotton  { left:  84%;bottom: 9px;}
